.profile {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

@media screen and (max-width: 920px) {
    .profile {
        max-width: 581px;
        margin-top: 42px;
        margin-bottom: 0;
        flex-direction: column;
        justify-content: space-around;
    }
}
