.header__logo {
    width: 142px;
    height: 33px;
    align-items: flex-start;
    background-image: url(../../../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 920px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 321px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }    
}

