.content {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 880px;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 920px) {
    .content {
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .content {
        max-width: 282px;
    }
}
